.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75%;
  width: 75%;
  margin: auto;
  padding: 15%;
  .progressBar {
    width: 50%;
    height: 5px;
    margin: 30px 0px 50px 0px;
  }
  .mainContent {
    margin: 40px 0px 40px 0px;
  }
}
